@using EduHome.Models
@model Tag
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input type="text" asp-for="@Model.Name" class="form-control" id="Name" placeholder="Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
